{% extends "EvFrontBundle:Default:base.html.twig" %}

{% block body %}
    <section id="content">
	<div class="container">
            <div class="row">
                <h1>Nos meilleures ventes</h1>
		
                {% for flashMessage in app.session.flashbag.get('fail') %}
                    <div class="alert alert-warning alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        {{ flashMessage }}
                    </div>
                {% endfor %}
                
                {% for flashMessage in app.session.flashbag.get('success') %}
                    <div class="alert alert-success alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        {{ flashMessage }}
                    </div>
                {% endfor %}
                
                <div role="tabpanel">
                
                {% for produit in produits %}
                    {% if loop.first %}
                        <ul class="nav nav-tabs" role="tablist">
                    {% endif %}
                            <li role="presentation" {% if loop.first %}class="active"{% endif %}>
                                <a href="#{{ loop.index }}" aria-controls="profile" role="tab" data-toggle="tab">#{{ loop.index }}</a>
                            </li>
                    {% if loop.last %}
                        </ul>
                    {% endif %}
                {% endfor %}
                
                {% for produit in produits %}
                    {% if loop.first %}
                        <div class="tab-content">
                    {% endif %}
                            <div role="tabpanel" class="tab-pane {% if loop.first %}active{% endif %}" id="{{ loop.index }}">
                                <h3>{{ produit.nom }}</h3>
                                
                                <img src="{{ asset(images[produit.id].lien) }}" />
                                <p>{{ produit.description }}</p>
                                <p><span class="label label-info">Disponible depuis le</span> {{ produit.dateCreation|date('d/m/Y') }} <span class="label label-info">Stocks</span> {{ produit.stock }}</p>
                                <p>
                                    <a class="btn btn-theme" href="{{ path('ev_front_register_alert', { 'idProduit' : produit.id, 'idUser' : 5 }) }}">Recevoir une alerte quand ce produit sera en vente</a>
                                </p>
                            </div>
                    {% if loop.last %}
                        </div>
                    {% endif %}
                    
                {% endfor %}
                    
                </div>
    
            </div>
        </div>
    </section>
    
{% endblock %}
