{% extends "EvFrontBundle:Default:base.html.twig" %}

{% block body %}
    <section id="content">
	<div class="container">
            <div class="row">
                <h1>Nos prochaines ventes</h1>
			
    {% for event in pagination %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{ event.nom }}</h3>
            </div>
            <div class="panel-body">
                <img src="{{ asset( event.imageId[0].lien ) }}" />
                <p> </p>
                <p>
                    <span class="label label-default">Date</span> {{ event.date|date('d/m/Y à H:i') }} <span class="label label-default">Lieu</span> {{ event.lieux }} <span class="label label-default">Produits proposés</span> {{ event.categoryId[0]['nom'] }}
                </p>
            </div>
        </div>
    {% endfor %}
        
        <nav>
            {{ knp_pagination_render(pagination) }}
        </nav>
    
            </div>
        </div>
    </section>
    
{% endblock %}
